body {
  background-color: black;
  text-align: center;
  max-width: 100%;
  
}

.logo{
  margin-top: 40;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgba(219, 32, 44, 1);
  text-align: left;
  margin: 10px;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-spacing: 40px;
}




