.header{
  background-color: black;
  color: red;
  height: 40px;
  padding: 20px 30px;
  width: 100%;
}

.header .header-text{
  text-align: left;
  font-size: 30px;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
