.header {
  background-color: black;
  color: red;
  height: 50px;
  padding: 40px 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-text {
  font-size: 30px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .header-right .header-SignIn {
  font-size: 18px;
  background-color: red;
  color: white;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-logo {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}